# Dependencies
**/node_modules/

# Build output
**/dist/
build/

# Environment variables
.env
.env.local
.env.*.local
**/.env.production
Backend/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

# Thesis
thesis/

Backend/student_template.csv
Backend/importStudents.js
Backend/seedAdmin.js
Backend/student_import.js
Backend/admin_seed.js

Backend/output.json
Backend/output.txt